body{
    background-color: rgb(126, 126, 247);
    font: normal 15pt arial;
    
}
header{
    color: aliceblue;
    text-align: center;
}
section{
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    
}
footer{
    color: white;
    text-align: center;
    font-style: italic; 
}